/* TWK Lausanne */
@font-face {
  font-family: "TWKLausanne";
  src: url("../assets/fonts/TWKLausanne/TWKLausanne-Semi-Bold.woff2")
    format("woff2");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "TWKLausanne";
  src: url("../assets/fonts/TWKLausanne/TWKLausanne-Extra-Bold.woff2")
    format("woff2");
  font-style: normal;
  font-weight: 800;
}

/* Inter */
@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter/Inter-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter/Inter-Medium.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter/Inter-Semi-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter/Inter-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
}
