.TCGbutton {
  transition: transform 167ms cubic-bezier(0.33, 0, 0, 1) !important;
}

.TCGbutton:hover {
  transition: transform 250ms cubic-bezier(0.33, 0, 0, 1);
  transform: scale(1.1);
  filter: brightness(1.1);
}
